
@{
    ViewBag.Title = "How";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sobre Nós</title>
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <br />

    <h2>Faça sua doação!</h2>

    <h5>Pessoa Física</h5>
    <div class="pf">
        <img src="~/Resources/imagens/pf1.png" width="300" alt="dados" />
    </div>&nbsp;
    <div class="pf">
        <img src="~/Resources/imagens/pf2.png" width="300" alt="dados" />
    </div>&nbsp;
    <div class="pf">
        <img src="~/Resources/imagens/pf3.png" width="300" alt="dados" />
    </div>

    <br />
    <hr />

    <h5>Super e Hiper Mercados</h5>
    <div class="mercado">
        <img src="~/Resources/imagens/m1.png" width="300" alt="dados" />
    </div>&nbsp;
    <div class="mercado">
        <img src="~/Resources/imagens/m2.png" width="300" alt="dados" />
    </div>&nbsp;
    <div class="mercado">
        <img src="~/Resources/imagens/m3.png" width="300" alt="dados" />
    </div>



</body>

</html>


