@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sobre Nós</title>
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <br />
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <br />
                <br />
                <h3 class="text-center text-info">Quem somos?</h3>
                <br />
 
                <h4 class="text-center">O Início</h4>
                <p class="text-justify">A ideia de projeto começou quando nossa equipe pensando em uma solução para minimizar a fome no país, decidiu ajudar as ONG's que tanto fazem pelas pessoas. E assim, surgiu o REalimenta, uma oplataforma onde ONG's podem solicitar doações para suas instituiçoes.</p>
                <hr />
                <h4 class="text-center">Nosso Trabalho</h4>
                <p> Através de parceiros, como super e hiper mercados, os alimentos são cadastrados no site ficando disponiveis para as ONG's solicitarem e ajudar os necessitados. Os mercados são beneficiados com selos e também podendo fazer anuncios no site.</p>
                <hr />
                <h4 class="text-center">Valores</h4>
                <p>A equipe do REalimenta preza pela boa qualidade dos produtos para melhor atender os necessitados, e por isso tamvbém aceitados doações de outras pessoas que desejarem contribuir para essa causa. Colabore, aliemnte uam vida!</p>
            </div>
        </div>
    </div>
</body>

</html>


